<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>userImage</key>
			<string>userList01.jpg</string>
			<key>time</key>
			<string>至 2014-05-19  17:00</string>
			<key>imageName</key>
			<string>listCellBlueX</string>
			<key>identifier</key>
			<string>cell</string>
		</dict>
		<dict>
			<key>userImage</key>
			<string>userList02.jpg</string>
			<key>time</key>
			<string>至 2014-06-30  12:30</string>
			<key>imageName</key>
			<string>listCellRedX</string>
			<key>identifier</key>
			<string>cell</string>
		</dict>
		<dict>
			<key>userImage</key>
			<string>userList03.jpg</string>
			<key>time</key>
			<string>至 2014-05-20  17:30</string>
			<key>imageName</key>
			<string>listCellGreenX</string>
			<key>identifier</key>
			<string>cell</string>
		</dict>
	</array>
	<key>colorList</key>
	<dict>
		<key>grey9b</key>
		<array>
			<real>155</real>
			<real>155</real>
			<real>155</real>
			<integer>1</integer>
		</array>
		<key>grey33</key>
		<array>
			<integer>51</integer>
			<integer>51</integer>
			<integer>51</integer>
			<integer>1</integer>
		</array>
		<key>greyd8</key>
		<array>
			<integer>216</integer>
			<integer>216</integer>
			<integer>216</integer>
			<integer>1</integer>
		</array>
		<key>greyf3</key>
		<array>
			<integer>243</integer>
			<integer>243</integer>
			<integer>243</integer>
			<integer>1</integer>
		</array>
		<key>red</key>
		<array>
			<integer>236</integer>
			<integer>71</integer>
			<integer>58</integer>
			<integer>1</integer>
		</array>
		<key>blue</key>
		<array>
			<integer>9</integer>
			<integer>143</integer>
			<integer>182</integer>
			<integer>1</integer>
		</array>
		<key>green</key>
		<array>
			<real>16</real>
			<real>149</real>
			<real>152</real>
			<integer>1</integer>
		</array>
	</dict>
	<key>userInfo</key>
	<dict>
		<key>phoneNum</key>
		<string>18601940866</string>
		<key>iconValue</key>
		<array>
			<string>1660</string>
			<string>320</string>
			<string>212</string>
		</array>
		<key>userName</key>
		<string>李牛牛</string>
		<key>userSign</key>
		<string>帮助别人，幸福自己！</string>
		<key>headImage</key>
		<string>userHead.jpg</string>
	</dict>
	<key>myData</key>
	<dict>
		<key>middleValue</key>
		<dict>
			<key>middleValueValue</key>
			<array>
				<string>4.8</string>
				<string>12</string>
				<string>1</string>
				<string>3</string>
				<string>0</string>
			</array>
			<key>middleValueName</key>
			<array>
				<string>好人指数</string>
				<string>发布</string>
				<string>取消</string>
				<string>完成</string>
				<string>中止</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
