<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>userImage</key>
			<string>userDefault</string>
			<key>userName</key>
			<string>张子萱</string>
			<key>statusLabel</key>
			<string>任务已取消</string>
			<key>status</key>
			<integer>0</integer>
			<key>imageName</key>
			<string>listCellBlueX</string>
			<key>identifier</key>
			<string>cell</string>
			<key>statusColor</key>
			<string>red</string>
			<key>school</key>
			<string>湖南大学</string>
			<key>academy</key>
			<string>信息科学与工程学院</string>
			<key>tel</key>
			<string>13812345678</string>
			<key>getTime</key>
			<string>2014-05-21 14:37</string>
			<key>limitTime</key>
			<string>2014-06-30 12:30</string>
			<key>gold</key>
			<string>20</string>
			<key>taskName</key>
			<string>叫起床</string>
			<key>taskIcon</key>
			<string>icon01</string>
			<key>commonFri</key>
			<array>
				<dict>
					<key>photo</key>
					<string>tinyPhoto1</string>
					<key>userId</key>
					<string>1</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto2</string>
					<key>userId</key>
					<string>2</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto3</string>
					<key>userId</key>
					<string>3</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto4</string>
					<key>userId</key>
					<string>4</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto5</string>
					<key>userId</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>userImage</key>
			<string>userList02.jpg</string>
			<key>userName</key>
			<string>刘萌萌</string>
			<key>statusLabel</key>
			<string>任务待领取</string>
			<key>status</key>
			<integer>1</integer>
			<key>imageName</key>
			<string>listCellBlueX</string>
			<key>identifier</key>
			<string>cell</string>
			<key>statusColor</key>
			<string>greenT</string>
			<key>school</key>
			<string>清华大学</string>
			<key>academy</key>
			<string>计算机学院</string>
			<key>tel</key>
			<string>13452525555</string>
			<key>getTime</key>
			<string>2014-05-23 18:37</string>
			<key>limitTime</key>
			<string>2014-05-28 24:00</string>
			<key>commonFri</key>
			<array>
				<dict>
					<key>photo</key>
					<string>tinyPhoto6</string>
					<key>userId</key>
					<string>6</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto7</string>
					<key>userId</key>
					<string>8</string>
				</dict>
			</array>
			<key>gold</key>
			<string>100</string>
			<key>taskName</key>
			<string>陪聊天</string>
			<key>taskIcon</key>
			<string>icon02</string>
		</dict>
		<dict>
			<key>userImage</key>
			<string>userList03.jpg</string>
			<key>userName</key>
			<string>赵晓彤</string>
			<key>statusLabel</key>
			<string>任务已领取</string>
			<key>status</key>
			<integer>2</integer>
			<key>imageName</key>
			<string>listCellRedX</string>
			<key>identifier</key>
			<string>cell</string>
			<key>school</key>
			<string>湖南大学</string>
			<key>statusColor</key>
			<string>red</string>
			<key>academy</key>
			<string>金融学院</string>
			<key>tel</key>
			<string>18601940888</string>
			<key>getTime</key>
			<string>2014-05-21 14:37</string>
			<key>limitTime</key>
			<string>2014-06-30 12:30</string>
			<key>commonFri</key>
			<array>
				<dict>
					<key>photo</key>
					<string>tinyPhoto8</string>
					<key>userId</key>
					<string>8</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto9</string>
					<key>userId</key>
					<string>9</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto10</string>
					<key>userId</key>
					<string>10</string>
				</dict>
			</array>
			<key>gold</key>
			<string>15</string>
			<key>taskName</key>
			<string>上自习</string>
			<key>taskIcon</key>
			<string>icon03</string>
		</dict>
		<dict>
			<key>userImage</key>
			<string>userList03.jpg</string>
			<key>userName</key>
			<string>赵晓彤</string>
			<key>statusLabel</key>
			<string>任务已完成</string>
			<key>status</key>
			<integer>3</integer>
			<key>imageName</key>
			<string>listCellGreenX</string>
			<key>identifier</key>
			<string>cell</string>
			<key>statusColor</key>
			<string>blue</string>
			<key>school</key>
			<string>湖南大学</string>
			<key>academy</key>
			<string>金融学院</string>
			<key>tel</key>
			<string>18601940888</string>
			<key>getTime</key>
			<string>2014-05-21 14:37</string>
			<key>limitTime</key>
			<string>2014-06-30 12:30</string>
			<key>commonFri</key>
			<array>
				<dict>
					<key>photo</key>
					<string>tinyPhoto8</string>
					<key>userId</key>
					<string>8</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto9</string>
					<key>userId</key>
					<string>9</string>
				</dict>
				<dict>
					<key>photo</key>
					<string>tinyPhoto10</string>
					<key>userId</key>
					<string>10</string>
				</dict>
			</array>
			<key>gold</key>
			<string>15</string>
			<key>taskName</key>
			<string>领快递</string>
			<key>taskIcon</key>
			<string>icon04</string>
		</dict>
	</array>
	<key>colorList</key>
	<dict>
		<key>greenT</key>
		<array>
			<real>16</real>
			<real>149</real>
			<integer>51</integer>
			<integer>1</integer>
		</array>
		<key>white</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
			<integer>1</integer>
		</array>
		<key>grey60</key>
		<array>
			<integer>102</integer>
			<integer>102</integer>
			<integer>102</integer>
			<integer>1</integer>
		</array>
		<key>grey50</key>
		<array>
			<integer>80</integer>
			<integer>80</integer>
			<integer>80</integer>
			<integer>1</integer>
		</array>
		<key>grey9b</key>
		<array>
			<real>155</real>
			<real>155</real>
			<real>155</real>
			<integer>1</integer>
		</array>
		<key>grey33</key>
		<array>
			<integer>51</integer>
			<integer>51</integer>
			<integer>51</integer>
			<integer>1</integer>
		</array>
		<key>greyd8</key>
		<array>
			<integer>216</integer>
			<integer>216</integer>
			<integer>216</integer>
			<integer>1</integer>
		</array>
		<key>greyf3</key>
		<array>
			<integer>243</integer>
			<integer>243</integer>
			<integer>243</integer>
			<integer>1</integer>
		</array>
		<key>red</key>
		<array>
			<integer>236</integer>
			<integer>71</integer>
			<integer>58</integer>
			<integer>1</integer>
		</array>
		<key>blue</key>
		<array>
			<integer>9</integer>
			<integer>143</integer>
			<integer>182</integer>
			<integer>1</integer>
		</array>
		<key>green</key>
		<array>
			<real>16</real>
			<real>149</real>
			<real>152</real>
			<integer>1</integer>
		</array>
	</dict>
	<key>userInfo</key>
	<dict>
		<key>userId</key>
		<string>3</string>
		<key>phoneNum</key>
		<string>18601940866</string>
		<key>iconValue</key>
		<array>
			<string>1660</string>
			<string>320</string>
			<string>212</string>
		</array>
		<key>userName</key>
		<string>李牛牛</string>
		<key>userSign</key>
		<string>帮助别人，幸福自己！</string>
		<key>headImage</key>
		<string>userHead.jpg</string>
	</dict>
	<key>myData</key>
	<dict>
		<key>middleValue</key>
		<dict>
			<key>middleValueValue</key>
			<array>
				<string>4.8</string>
				<string>12</string>
				<string>1</string>
				<string>3</string>
				<string>0</string>
			</array>
			<key>middleValueName</key>
			<array>
				<string>好人指数</string>
				<string>发布</string>
				<string>取消</string>
				<string>完成</string>
				<string>中止</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
